<div class="row mb-2">


  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2"><a class="" data-toggle="modal"
    data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'>{{vivienda.propietario | uppercase }}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-1"><a class="" data-toggle="modal"
    data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'>{{vivienda.provincia }}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-2"><a class="" data-toggle="modal"
    data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'>{{vivienda.ciudad | uppercase}}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-2"><a class="" data-toggle="modal"
    data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'>{{vivienda.direccion | uppercase}}</a></div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-1"><a class="" data-toggle="modal"
      data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'> {{vivienda.codigoPostal }}</a></div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-2"><a class=""  data-toggle="modal"
    data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'>{{vivienda.idReferenciaCatastral | uppercase}}</a></div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-1"><a class="" data-toggle="modal"
      data-target="#modalVivienda" (click)='viviendaSeleccionada.emit(vivienda)'> {{vivienda.superficie }}</a></div>
    <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2">



  </div>
<br>

  <button class="btn btn-info" routerLink="/ofertas/ofertas-vivienda/{{vivienda.idVivienda}}">Ofertas de Vivienda</button>


<!-- <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="viviendaSeleccionada.emit(vivienda) "
routerLink="/viviendas/vivienda-edicion/{{vivienda.idVivienda}}">
<i class="fa-solid fa-2x fa-pen-to-square"></i></a>


<a class="btn btn-link"  type="button" (click)="borrarVivienda(vivienda.idVivienda)" routerLink="/viviendas" >
  <i class="fa-solid fa-2x fa-eraser"></i>;

</a> -->

  </div>

