<body>
  <div class="contenedor-uno">
  <h3>EDICION DE OFERTAS</h3>
  <br>
  </div>
  <form class="contenedor-cinco"[formGroup]="ofertaForm" (ngSubmit)="onSubmit()">
    <br>
    <div class="form-group col-12 container-fluid" *ngIf="type == 1">
      <div class="form-group row">
        <label class="col-3">TITULO OFERTA</label>
        <div class="form-group col-9">
          <input type="text" formControlName="tituloOferta" class="form-control" placeholder="titluloOferta" />
        </div>
      </div>
      <div class="linea-de-separacion  col-12 border-bottom border-dark">
      </div>
      <br>
      <div class="form-group row">
        <label class="col-3">PRECIO ALQUILER MENSUAL</label>
        <div class="form-group col-7">
          <input type="number" formControlName="precioAlquilerMensual" class="form-control" placeholder=" precio alquiler" />
        </div>
        <div class="form-group col-2">€/mes</div>
      </div>
      <div class="linea-de-separacion  col-12 border-bottom border-dark">
      </div>
      <br>
      <div class="form-group row">
        <label class="col-3">MESES FIANZA</label>
        <div class="form-group col-7">
          <input type="number" formControlName="mesesFianza" class="form-control" placeholder=" meses fianza" />
        </div>
        <div class="form-group col-2">meses</div>

      </div>
      <div class="linea-de-separacion  col-12 border-bottom border-dark">
      </div>
      <!-- <app-alquiler></app-alquiler> -->
    </div>
    <div class="form-group col-12 container-fluid" *ngIf="type == 2">
      <div class="form-group row">
        <label class="col-3">TITULO OFERTA</label>
        <div class="form-group col-9">
        <input type="text" formControlName="tituloOferta" class="form-control" placeholder="titluloOferta" />
        </div>
      </div>
      <div class="linea-de-separacion  col-12 border-bottom border-dark">
      </div>
      <br>
      <div class="form-group row">
        <label class="col-3">VENTA</label>
        <div class="form-group col-8">
        <input type="number" formControlName="precioDeVenta" class="form-control" placeholder="precio venta" />
        </div>
        <div class="form-group col-1">€</div>
      </div>
      <div class="linea-de-separacion  col-12 border-bottom border-dark">
      </div>
    </div>
    <!-- <app-venta></app-venta> -->
    <br>
    <section #botones>
      <div class="contenedor-cuatro col-12 row">
      <button type="submit" class="btn btn-success">Aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" routerLink="/ofertas/ofertas-vivienda/{{idVivienda}}" class="btn btn-danger">Cancelar</button>
      </div>
    </section>
    <br>
  </form>

</body>
